<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>Kernel Flags</key>
	<string></string>
	<key>EthernetBuiltIn</key>
	<string>yes</string>
	<key>GraphicsEnabler</key>
   	<string>Yes</string>
	<key>AtiConfig</key>
   	<string>Duckweed</string>
	<key>Graphics Mode</key>
	<string>2560x1600x32</string>
	<key>device-properties</key>
	<string>4b00000001000000010000003f0000000100000002010c00d041030a0000000001010600041c0101060000007fff0400160000006200750069006c0074002d0069006e0000000500000001</string>
</dict>
</plist>
