<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Annotations</key>
	<dict>
		<key>Creation_Predicates</key>
		<dict>
			<key>false</key>
			<false/>
			<key>fstype.hfs</key>
			<true/>
			<key>interconnect.sata</key>
			<true/>
			<key>is.alreadyindexed</key>
			<false/>
			<key>is.automount</key>
			<false/>
			<key>is.backupstore</key>
			<false/>
			<key>is.backupvolume</key>
			<false/>
			<key>is.bootablevolume</key>
			<false/>
			<key>is.cameramedia</key>
			<false/>
			<key>is.diskimage</key>
			<false/>
			<key>is.dontbrowse</key>
			<false/>
			<key>is.ejectable</key>
			<false/>
			<key>is.external</key>
			<false/>
			<key>is.externalvolumes.defaultoff</key>
			<false/>
			<key>is.externalvolumes.ignore</key>
			<false/>
			<key>is.filevault</key>
			<false/>
			<key>is.forcedefaultindex</key>
			<false/>
			<key>is.forcefsonly</key>
			<false/>
			<key>is.home</key>
			<false/>
			<key>is.internal</key>
			<true/>
			<key>is.ipod</key>
			<false/>
			<key>is.local</key>
			<true/>
			<key>is.lowdiskspace</key>
			<false/>
			<key>is.mirrored.idisk</key>
			<false/>
			<key>is.mobilebackups</key>
			<false/>
			<key>is.network</key>
			<false/>
			<key>is.quarantined</key>
			<false/>
			<key>is.readonly</key>
			<false/>
			<key>is.removable</key>
			<false/>
			<key>is.rootfs</key>
			<false/>
			<key>is.safeboot</key>
			<false/>
			<key>is.syntheticmount</key>
			<false/>
			<key>is.tinyvolume</key>
			<false/>
			<key>is.windowsbootablevolume</key>
			<false/>
			<key>is.xsan</key>
			<false/>
			<key>policy.location.volume</key>
			<true/>
			<key>self.appleinternal</key>
			<false/>
			<key>self.server</key>
			<false/>
			<key>status.neverindex</key>
			<false/>
			<key>supports.catsearch</key>
			<true/>
			<key>supports.fileids</key>
			<true/>
			<key>supports.volfs</key>
			<true/>
			<key>true</key>
			<true/>
			<key>uuid.b197afc4-22ed-3358-b595-7c5bd13aac3a</key>
			<true/>
		</dict>
		<key>DefaultStore_EffectiveSearch</key>
		<integer>3</integer>
		<key>DefaultStore_RequestedSearch</key>
		<integer>3</integer>
	</dict>
	<key>ConfigurationCreationDate</key>
	<date>2011-07-04T22:08:50Z</date>
	<key>ConfigurationCreationVersion</key>
	<string>Version 10.7 (Build 11A511)</string>
	<key>ConfigurationModificationDate</key>
	<date>2011-07-04T22:08:50Z</date>
	<key>ConfigurationModificationVersion</key>
	<string>Version 10.7 (Build 11A511)</string>
	<key>Exclusions</key>
	<array/>
	<key>Options</key>
	<dict>
		<key>ConfigurationType</key>
		<string>Default</string>
	</dict>
	<key>Stores</key>
	<dict>
		<key>FCBAEB95-0CA9-4F1F-85EE-4C87667D10CA</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-07-04T22:08:50Z</date>
			<key>CreationVersion</key>
			<string>Version 10.7 (Build 11A511)</string>
			<key>IndexVersion</key>
			<integer>95</integer>
			<key>PartialPath</key>
			<string>/</string>
			<key>PolicyDate</key>
			<date>2011-07-04T22:08:50Z</date>
			<key>PolicyLevel</key>
			<string>kMDConfigSearchLevelReadWrite</string>
			<key>PolicyVersion</key>
			<string>Version 10.7 (Build 11A511)</string>
		</dict>
	</dict>
</dict>
</plist>
