<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.stickpins.driver.LegacyHDAPlatformDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LegacyHDA Platform Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>99</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Platform Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAPlatformDriver</string>
			<key>IOClass</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAPlatformDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAPlatformDriverLoader</string>
			<key>InputSampleLatency</key>
			<integer>30</integer>
			<key>Layouts</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>882</integer>
					<key>PathMapRef</key>
					<array>
						<dict>
							<key>CodecID</key>
							<array>
								<integer>283904130</integer>
							</array>
							<key>Headphone</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
							</dict>
							<key>Inputs</key>
							<array>
								<string>LineIn</string>
								<string>Mic</string>
								<string>SPDIFIn</string>
							</array>
							<key>IntSpeaker</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
								<key>MaximumBootBeepValue</key>
								<integer>64</integer>
							</dict>
							<key>LineIn</key>
							<dict/>
							<key>LineOut</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
							</dict>
							<key>Mic</key>
							<dict/>
							<key>Outputs</key>
							<array>
								<string>IntSpeaker</string>
								<string>Headphone</string>
								<string>LineOut</string>
								<string>SPDIFOut</string>
							</array>
							<key>PathMapID</key>
							<integer>882</integer>
							<key>SPDIFIn</key>
							<dict/>
							<key>SPDIFOut</key>
							<dict/>
						</dict>
					</array>
				</dict>
			</array>
			<key>OutputSampleLatency</key>
			<integer>30</integer>
			<key>PathMaps</key>
			<array>
				<dict>
					<key>PathMap</key>
					<array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>9</integer>
										<key>ProcessingState</key>
										<true/>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>34</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>24</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>8</integer>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>35</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>26</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>10</integer>
									</dict>
									<dict>
										<key>DetectDelegate</key>
										<integer>32</integer>
										<key>NodeID</key>
										<integer>31</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>12</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>2</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>27</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>38</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>37</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>21</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>13</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>3</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>30</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>6</integer>
									</dict>
								</array>
							</array>
						</array>
					</array>
					<key>PathMapID</key>
					<integer>882</integer>
				</dict>
			</array>
			<key>SampleOffsetPad</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
